<!DOCTYPE HTML>


<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Creepy to Date</title>
    <link rel="stylesheet" href ="/static/sassy.css"/>
	



</head>
<body>


<div id="main-container">

	<h1>Is It Creepy?</h1>

	<form id ="creepform">
		<div class="form-label">
			Your Age:
		</div>
		<div class="form-input">
			<input type="text" name="your_age">
		</div>
		<div class="form-label">
			Their Age:
		</div>
		<div class="form-label">
			<input type="text" name="other_age">
		</div>
		<div class = "button-container">
			<button type="button" id="creep-button">Is It Creepy?</button>
		</div>

	</form>
</div>

<div id="creep-result">
	
</div>    

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="/../static/creepy_java.js"></script>
</body>
</html>